.o_command_palette {
  &.modal-content {
    border: none;
    border-radius: 3px !important;
    overflow: hidden;
  }

  > .modal-body {
    padding: 0;
    overflow: hidden;
  }

  &_search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-bottom: 1px solid #ccc;
    padding: 0.8rem 1em;
    font-size: 1.5rem;

    input {
      border: none;
      padding: 0;
      line-height: 1.8em;
    }
  }

  &_listbox {
    max-height: 50vh;
    overflow-y: auto;
    position: relative;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }

    &_empty {
      padding: 1rem 1.3em;
      line-height: 1.8em;
      font-style: italic;
    }

    .o_command_category {
      padding: 0.5rem 0;
    }

    hr {
      margin: 0;
    }

    .o_command {
      position: relative;
      line-height: 1.8em;
      height: 2.8em;

      &.focused {
        background: rgba(0, 160, 157, 0.15);
      }

      &_default, &_hotkey {
        background-color: inherit;
        padding: 0.5rem 1.3em;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      &_hotkey {
        kbd {
          background-color: #f4f7f8;
          border-radius: 3px;
          border: 1px solid #e5e5e5;
          $shadowvalue: 0px 1px 1px rgba(0, 0, 0, 0.2),
            inset 0px -1px 1px 1px rgba(230, 230, 230, 0.8),
            inset 0px 2px 0px 0px rgba(255, 255, 255, 0.8);
          color: #4c4c4c;
          display: inline-block;
          font-family: Consolas, "Liberation Mono", Courier, monospace;
          font-size: 0.85em;
          padding: 0 0.65rem;
        }
      }
    }
  }
}
