$o-we-overlay-zindex: ($zindex-fixed + $zindex-modal-backdrop) / 2 !default;
$o-we-zindex: $o-we-overlay-zindex + 1 !default;

// Use css variables to control the default style of the editor so that an
// external assets bundle can influence it without duplicating the css.
:root {
    @include print-variable('o-we-toolbar-height', $o-we-toolbar-height);
}

.o_we_command_protector {
    font-weight: 400 !important;

    b, strong {
        font-weight: 700 !important;
    }
    * {
        font-weight: inherit !important;
    }
    .btn {
        text-align: unset !important;
    }
}

// Editor website toolbar
.wysiwyg_iframe,
.note-editor {
    border: $o-we-border-width solid $o-we-fg-light;
    margin: 0;
    padding: 0;
}
.oe-toolbar {
    padding-bottom: 0;
    border-bottom: $o-we-border-width solid $o-we-fg-light;
    background-color: $o-we-bg;
    color: $o-we-color;
    font-family: $o-we-font-family;

    &.noarrow::before {
        display: none;
    }

    // Main layout of buttons
    .btn-group, .btn {
        width: auto !important;
        margin-top: 0;
        margin-bottom: 0;
        background: transparent;
        border: none;
        border-radius: 0;
    }
    .btn-secondary {
        color: inherit;
    }
    .btn-group.show {
        > .btn {
            @extend %we-active-button;
        }
        &::after {
            content: '';
            @include o-position-absolute(100%, $o-we-border-width, auto, $o-we-border-width);
            height: $o-we-border-width;
        }
    }
    %we-active-button {
        background: $o-we-sidebar-content-field-pressed-bg;
        color: $o-we-sidebar-content-field-pressed-color;
        box-shadow: none !important;
        outline: none !important;
    }
    .dropdown-menu {
        margin-top: $o-we-dropdown-spacing;
        padding: 0;
        border: $o-we-dropdown-border-width solid $o-we-dropdown-border-color;
        background-color: $o-we-dropdown-bg;
        box-shadow: $o-we-dropdown-shadow;

        &.colorpicker-menu {
            margin-top: 0;
            margin-bottom: 0.125rem;
            min-width: 222px !important;
        }
    }
    .dropdown-toggle::after {
        display: none;
    }
    .dropdown-menu.show { // To overcome .note-XXX .dropdown-menu rules
        min-width: 0;
    }
    .dropdown-item { // To overcome wysiwyg rules breaking this in iframes
        display: block;
        max-width: none;
        overflow: visible;
        margin-top: 0;
        padding: 0 1em;
        border: none;
        background: none;
        background-clip: padding-box;
        background-color: $o-we-dropdown-item-bg;
        color: $o-we-dropdown-item-color;
        line-height: $o-we-dropdown-item-height;

        &:not(.d-none) ~ .dropdown-item {
            // Use a border-top instead of a margin-top as when the
            // mouse goes from one select button to another, the
            // option preview should switch from the first button's
            // option to the second one without reset to selected
            // state in between.
            border-top: $o-we-dropdown-item-spacing solid transparent;
        }

        &.active {
            color: $o-we-dropdown-item-active-color;
        }
    }
    li > .dropdown-item {
        border-top: $o-we-dropdown-item-spacing solid transparent;
    }

    // Specific elements
    #colorInputButtonGroup label:last-of-type .btn {
        margin: 0 1px 0 -1px;
    }
    .oe-tablepicker {
        margin: 1px 2px -8px 2px !important;

        .oe-tablepicker-cell {
            width: 5px !important;
        }
    }
    .o_image_alt {
        @include o-text-overflow();
        max-width: 150px;
    }
}
body:not(.editor_has_snippets) {
    .oe-toolbar {
        // Bootstrap sets .modal z-index at 1050. Ensure toolbar is visible in
        // modals. Only apply this to the toolbar if it's not in a snippets menu.
        z-index: 1051;
    }
}
@media only screen and (max-width: 767px) {
    .oe-toolbar {
        background-color: white;

        .btn {
            color: black;
        }
        &::before {
            display: none;
        }
        &::after {
            display: none;
        }
    }
}

.oe_edited_link {
    position: relative;
    display: inline-block;
    &::before {
        content: '';
        border: dashed 3px #01bad2;
        position: absolute;
        inset: -5px;
    }
}

// ANIMATIONS
@keyframes fadeInDownSmall {
    0% {
        opacity: 0;
        transform: translate(0, -5px);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes inputHighlighter {
    from {
        background: $o-brand-primary;
    }
    to {
        width: 0;
        background: transparent;
    }
}

.o_we_horizontal_collapse {
    width: 0 !important;
    padding: 0 !important;
    border: none !important;
}

.o_we_transition_ease {
    transition: all ease 0.35s;
}

// MODALS
body .modal {

    // SELECT MEDIA
    .o_select_media_dialog {
        max-width: 80%;

        .modal-body {
            .tab-pane {
                min-height: 300px;
            }

            .o_we_images > .o_existing_attachment_cell .o_we_media_dialog_img_wrapper {
                @extend %o-preview-alpha-background;

                &, > img {
                    width: 100%;
                }
            }

            .o_existing_attachment_cell {
                cursor: pointer;
                margin: 1px;

                .o_existing_attachment_optimize, .o_existing_attachment_remove {
                    background-color: rgba(white, 0.4);
                    opacity: 0;
                    cursor: pointer;
                    transition: color 0.2s ease;
                }

                .o_existing_attachment_optimize {
                    @include o-position-absolute($top: 0, $left: 0);
                    border-radius: 0 0 2px 0;
                }

                .o_existing_attachment_remove {
                    @include o-position-absolute($top: 0, $right: 0);
                    z-index: 1;
                    border-radius: 0 0 0 2px;
                    &:hover {
                        color: $o-we-color-danger;
                    }
                }

                .o_file_name {
                    @include o-text-overflow;
                }

                &:hover {
                    .o_existing_attachment_optimize, .o_existing_attachment_remove {
                        opacity: 1;
                    }
                    &.o_we_attachment_highlight, .o_we_attachment_highlight {
                        border-color: $card-border-color;
                        box-shadow: 0px 0px 2px 2px $card-border-color;
                    }
                }
            }

            .o_we_attachment_selected {
                @include o-we-active-wrapper($top: 5px, $left: 5px);
            }

            .o_we_attachment_optimized .badge {
                position: absolute;
                bottom: 0;
                right: 0;
                margin: 2px;
            }

            .font-icons-icons {
                > span {
                    text-align: center;
                    font-size: 22px;
                    margin: 5px;
                    width: 50px;
                    height: 50px;
                    padding: 15px 0; // 0 allows to center properly
                    cursor: pointer;
                }
            }

            #editor-media-image,
            #editor-media-document {
                .o_we_url_input {
                    width: 300px;
                }
            }

            // VIDEO TAB
            #editor-media-video {
                .o_video_dialog_form {
                    #o_video_form_group {
                        position: relative;
                        width: 100%;

                        > textarea {
                            width: 100%;
                            min-height: 95px;
                            padding-bottom: 25px;
                            overflow-y: scroll;
                        }
                    }
                }

                #video-preview {
                    position: relative;
                    @include o-we-preview-box();
                    border: none;

                    .media_iframe_video {
                        width: 100%;
                    }

                    .o_video_dialog_iframe {
                        @include o-we-preview-content;
                        max-width: 100%;
                        max-height: 100%;

                        &.alert {
                            animation: fadeInDownSmall 700ms forwards;
                            margin: 0 auto;
                        }
                    }
                }

                #video-suggestion > .o_sample_video {
                    cursor: pointer;
                }
            }
        }
    }

    // LINK EDITOR DIALOG COLOR SELECTOR
    .o_link_dialog {
        input.link-style:checked + span::after {
            content: "\f00c";
            display: inline-block;
            font-family: FontAwesome;
            margin-left: 2px;
        }

        .o_link_dialog_preview {
            border-left: 1px solid gray('200');
        }
    }
}

.o_we_progressbar:last-child {
    hr {
        display: none;
    }
}

// Highlight selected image/icon
%o-we-selected-image {
    outline: 3px solid rgba(150, 150, 220, 0.3);
}

img.o_we_selected_image {
    @extend %o-we-selected-image;
}

.fa.o_we_selected_image::before {
    @extend %o-we-selected-image;
}
// Override default image selection color from portal. It prevents your from
// seeing the images' quality clearly in the wysiwyg.
img::selection {
    background: transparent;
}
.o_we_media_author {
    font-size: 11px;
    @include o-position-absolute($bottom: 0, $left: 0, $right: 0);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    background-color: rgba(255, 255, 255, .7);
}

@include media-breakpoint-down(md) {
    #web_editor-top-edit {
        position: initial !important;
        height: initial !important;
        top: initial !important;
        left: initial !important;
    }
}

// User modal in edit mode
.editor_enable, .note-editable {
    .modal:not(.o_technical_modal) {
        top: 40px;
        right: 0;
        bottom: 0;
        right: $o-we-sidebar-width;
        width: auto;
        height: auto;

        .modal-dialog {
            padding: 0.5rem 0; // To use more editor space if necessary
        }
    }
}

.o_wysiwyg_wrapper {
    position: relative;
    margin-bottom: 11px;
}
.o_wysiwyg_resizer {
    background: #f5f5f5;
    height: 10px;
    width: 100%;
    border-left: $o-we-border-width solid $o-we-fg-light;
    border-bottom: $o-we-border-width solid $o-we-fg-light;
    border-right: $o-we-border-width solid $o-we-fg-light;
    cursor: row-resize;
    padding-top: 1px;
}
.o_wysiwyg_resizer_hook {
    width: 20px;
    margin: 1px auto;
    border-top: 1px solid #a9a9a9;
}
.note-editable {
    border: $o-we-border-width solid $o-we-fg-light;
    overflow: auto;
    background: white;
    color: black;
    height: 100%;
    padding: 5px 10px;
}

.o_we_no_pointer_events {
    pointer-events: none;
}

.o_we_crop_widget {
    background-color: rgba(128, 128, 128, 0.5);
    @include o-position-absolute(0, 0, 0, 0);
    z-index: 1024;

    .o_we_cropper_wrapper {
        position: absolute;
    }

    .o_we_crop_buttons {
        margin-top: 0.5rem;
        display: flex;
        flex-wrap: wrap;

        input[type=radio] {
            display: none;
        }

        .btn-group {
            border-radius: 0.25rem;
            margin: 0.1rem;
        }

        button, label {
            cursor: pointer !important;
            padding: 0.2rem 0.3rem;
        }

        label {
            display: flex;
            align-items: center;

            &.active {
                background-color: $o-we-bg-darkest;
            }
        }

        button:not(.btn), label {
            margin: 0;
            border: none;
            border-right: 1px solid $o-we-bg;
            background-color: $o-we-bg;
            color: $o-we-color;

            &:first-child {
                border-top-left-radius: 0.25rem;
                border-bottom-left-radius: 0.25rem;
            }

            &:last-child {
                border-top-right-radius: 0.25rem;
                border-bottom-right-radius: 0.25rem;
                border-right: none;
            }
        }
    }
}

[data-oe-xpath], [data-oe-xpath] [contenteditable=true] {
    outline: none;
}

.o_transform_removal {
    transform: none !important;
}
