.o_user_menu {
  margin-left: 6px;

  .o_user_avatar {
    height: 26px;
    width: 26px;
    object-fit: cover;
    transform: translateY(-2px);
  }

  .o_dropdown_menu {
    // FIXME weird hack to keep menu from taking all viewport width
    min-width: 100%;
    position: sticky;
  }
}
