// = Default Boostrap Classes customizations
// ----------------------------------------------------------------------------
.dropdown-menu {
  max-height: 70vh;
  overflow: auto;
  background-clip: border-box;
  box-shadow: $o-dropdown-box-shadow;
}

.dropdown-item {
  &.active, &.selected {
    position: relative;
    font-weight: $font-weight-bold;

    &:focus, &:hover  {
      background-color: $dropdown-link-hover-bg;
    }

    &:not(.o_dropdown_item_active_noarrow) {
      &:before {
        @include o-position-absolute(0);
        transform: translate(-1.5em, 90%);
        font: .7em/1em FontAwesome;
        color: $primary;
        content: "\f00c";
      }

      &.disabled:before {
        color: $dropdown-link-disabled-color;
      }
    }
  }

  &.selected { // Legacy
    // FIXME: does commenting this break anything?
    // @extend .active;
  }
}

.dropdown-header {
  font-weight: $font-weight-bold;
  padding-bottom: .1em;

  &:not(:first-child) {
    margin-top: .3em;
  }
}

.dropdown-divider:first-child {
  display: none;
}

.o_rtl {
  .dropdown-menu {
    @extend .dropdown-menu-right;
  }
}

// = Extend Owl custom classes to visually match Boostrap ones
// ----------------------------------------------------------------------------
.o_dropdown {
  @extend .dropdown;

  &_toggler {
    @extend .dropdown-toggle;
  }

  &_menu {
    @extend .dropdown-menu;

    &.o_dropdown_menu_right {
      // FIXME: does commenting this break anything?
      // @extend .dropdown-menu-right;
    }

    & > li.o_dropdown {
      &.navigated > .o_dropdown_toggler {
        // FIXME: without this there is no selection feedback
        // @extend :hover;
      }
      & > .o_dropdown_toggler {
        // FIXME: without this there is no selection feedback
        // @extend .dropdown-item;
        &:after {
          @include o-position-absolute($right: 0);
          transform: translate(-.6em, .3em);
          font: .9em/1em FontAwesome;
          content: "\f0da";
        }
      }

      // Correctly align sub dropdowns items with its parent's
      & > .o_dropdown_menu {
        &.o-popper-position {
          &--rs, &--ls {
            margin-top: calc(-.5rem - 1px);
          }
          &--re, &--le {
            margin-top: calc(.5rem - 2px);
          }
        }
      }
    }

    // Since wrapping entry's content is the norm, @extend bootstrap
    // '.dropdown-item' classes to the inner element (eg. <a> or <span>)
    // rather that on 'o_dropdown_item'.
    .o_dropdown_item {
      > :first-child {
        @extend .dropdown-item;
      }
      &.selected > :first-child {
        // FIXME: does commenting this break anything?
        //@extend .active;
      }
      &.disabled > :first-child {
        // FIXME: does commenting this break anything?
        //@extend .disabled;
      }
      &.active > :first-child {
        // FIXME: without this there is no selection feedback
        // @extend :hover;
        background-color: rgba(0, 0, 0, 0.08);
        color: #091124;
      }
    }
  }

  &_menu_group {
    @extend .dropdown-header;
  }
}

// = Owl components specific rules
// -----------------------------------------------------------------------------
.o_dropdown_item:not(.disabled):not(:disabled) {
  // Needed 'cause <DropdownItem> generate <li> html tags that for browsers are
  // normally not clickable.
  cursor: pointer;
}

button.o_dropdown_toggler {
  > span {
    min-width: max-content;
  }

  &%--state-active {
    outline: none;
    box-shadow: none !important;
  }

  &.o_dropdown_active {
    @extend %--state-active;
  }

  @include hover-focus-active() {
    @extend %--state-active;
  }
}
