
.o_timesheet_plan_sale_timesheet {

    .o_title {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    [type='action'] {
        color: $o-brand-primary;
        cursor: pointer;
    }

    .o_timesheet_plan_stat_buttons {
        text-align: right;
        float: none;
        width: auto;
        box-shadow: unset;
        margin-left: -$o-horizontal-padding - 1;
        @include media-breakpoint-between(lg, xl, $o-extra-grid-breakpoints) {
            margin-left: (-$o-horizontal-padding*2) - 1;
        }
        > .btn.oe_stat_button {
            border-bottom: 1px solid #ced4da;
        }
    }

    .o_profitability_wrapper {
        display: flex;
        flex: 1;
        flex-wrap: wrap;

        .o_profitability_section {
            display: flex;
            flex: 1;
            justify-content: flex-start;
        }

    }

    .o_timesheet_plan_sale_timesheet_dashboard {

        .table {
            margin-top: 15px;
            a {
                cursor: pointer;
            }
        }
        .table > thead > tr > th, .table > thead > tr > td,
        .table > tbody > tr > th, .table > tbody > tr > td {
            border: none;
        }
        .table > tbody > tr > td.o_timesheet_plan_dashboard_cell {
            text-align: right;
        }
        .table > tbody > tr > td.o_timesheet_plan_dashboard_total {
            border-top: 1px solid;
            text-align: right;
        }

        .section {

        }

    }

    .o_timesheet_plan_sale_timesheet_people_time {
        $-timesheet-progress-colors: (
            'billable_time':  nth($o-colors-complete, 3),
            'billable_fixed': nth($o-colors-complete, 5),
            'non_billable_project': theme-color('primary'),
            'non_billable_timesheet': nth($o-colors-complete, 11),
            'non_billable': nth($o-colors-complete, 18),
            'canceled': $o-gray-500,
        );

        @each $-key, $-bg in $-timesheet-progress-colors {
            .o_progress_#{$-key} {
                background-color: $-bg;

                a {
                    color: color-yiq($-bg);
                }
            }
        }

        .table > thead > tr > td,
        .table > tbody > tr > th, .table > tbody > tr > td {
            border: none;
            padding: 0px;
        }

        .table > thead > tr > th {
            border: none;
            padding-left: 0px;;
        }
    }

    .o_project_plan_project_timesheet_forecast {

        margin-top: 50px;

        th{
            text-align: center;
            vertical-align: top;
        }
        th.o_right_bordered, td.o_right_bordered {
            border-right: 2px solid $o-brand-primary;
            text-align: center;
        }

        .o_timesheet_forecast_sale_order{
            font-weight: bold;
            & > td:first-child {
                color: $o-brand-primary;
            }
        }
        .o_timesheet_forecast_sale_order_line{
            td:first-child {
                padding-left: 15px;
            }
            td:first-child > a {
                margin-left: 15px;
                cursor: pointer;
            }
        }
        .o_timesheet_forecast_hr_employee{
            td:first-child {
                padding-left: 30px;
            }
        }

        .o_timesheet_plan_redirect {
            cursor: pointer;
        }

        .o_canceled_tag {
            background-color: $o-gray-500;
            color: color-yiq($o-gray-500);
            border: 0px;
        }
    }

}
